@page
@namespace AuthorizationSample.Pages.Private
@model EmployeesModel
@{
    ViewData["Title"] = "Private Folder: Private Page 2";
}

<h1>@ViewData["Title"]</h1>
<h2>@Model.Message</h2>

<p>
    Employees
    This page requires authorization by convention:
    <code>
        options.Conventions.AuthorizeFolder("/Private");
    </code>
</p>
