@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <form method="post">
        <input type="hidden" asp-for="Input.IsRegister" value="LOGIN" /> 
        <input type="hidden" asp-for="Input.ConfirmedPassword" value="*****" /> 
        <h2>Use a local account to log in.</h2>
        <hr>
        <div asp-validation-summary="All"></div>
        <div class="login-textbox">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email">
            <span asp-validation-for="Input.Email"></span>
        </div>
        <div class="login-textbox">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password">
            <span asp-validation-for="Input.Password"></span>
        </div>
        <div class="login-buttons">
            <button type="submit" name="login">Log in</button>
        </div>
    </form>
</div>
<div class="row">
    <form method="post">
        <input type="hidden" asp-for="Input.IsRegister" value="REGISTER" /> 
        <h2>Create an account to register with us.</h2>
        <hr>
        <div asp-validation-summary="All"></div>
        <div class="login-textbox">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email">
            <span asp-validation-for="Input.Email"></span>
        </div>
        <div class="login-textbox">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password">
            <span asp-validation-for="Input.Password"></span>
        </div>
        <div class="login-textbox">
            <label asp-for="Input.ConfirmedPassword"></label>
            <input asp-for="Input.ConfirmedPassword">
            <span asp-validation-for="Input.Password"></span>
        </div>
        <div class="login-buttons">
            <button type="submit" name="register">Register</button>
        </div>
    </form>
</div>